@charset "utf-8";
/* Simple fluid media
   Note: Fluid media requires that you remove the media's height and width attributes from the HTML
   http://www.alistapart.com/articles/fluid-images/ 
*/
img, object, embed, video { max-width: 100%; }
/* IE 6 does not support max-width so default to width 100% */
.ie6 img { width: 100%; }
/*
	Dreamweaver Fluid Grid Properties
	----------------------------------
	dw-num-cols-mobile:		5;
	dw-num-cols-tablet:		8;
	dw-num-cols-desktop:	10;
	dw-gutter-percentage:	25;
	
	Inspiration from "Responsive Web Design" by Ethan Marcotte 
	http://www.alistapart.com/articles/responsive-web-design
	
	and Golden Grid System by Joni Korpi
	http://goldengridsystem.com/
*/

/* Mobile Layout: 480px and below. */
.clear { clear: both; }
body { background-color: #e3ece9; }
.gridContainer
{
	background-color: #e3ece9;
	font-family: Arial, Helvetica, sans-serif !important;
}
#maincontainer
{
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#insidecont
{
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#formcontent
{
	clear: both;
	float: left;
	margin: 1%;
	display: block;
	background-color: #FFF;
	padding: 20px;
	width: 95%;
}
#recomm
{
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
	background-color: #bccbc6;
	padding: 10px;
	text-align: center;
	margin-bottom: 7px;
	font-size: 20px;
}
#calrecomm
{
	clear: both;
	font-size: 20px;
	width: 10%;
	display: block;
	background-color: #bccbc6;
	padding: 10px;
	text-align: center;
	margin-top: 5px;
	margin: 3px auto 15px auto !important;
}
#insidediv
{
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
	text-align: center;
}
#menu-main
{
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}


/* Tablet Layout: 481px to 768px. Inherits styles from: Mobile Layout. */

@media only screen and (min-width: 481px) {
.gridContainer { }
#maincontainer
{
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#insidecont
{
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#formcontent
{
	clear: both;
	float: left;
	margin: 1%;
	display: block;
	background-color: #FFF;
	padding: 20px;
	width: 95%;
}
#recomm
{
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
	background-color: #bccbc6;
	padding: 10px;
	text-align: center;
	margin-bottom: 7px;
	font-size: 20px;
}
#calrecomm
{
	clear: both;
	font-size: 20px;
	width: 10%;
	display: block;
	background-color: #bccbc6;
	padding: 10px;
	text-align: center;
	margin-top: 5px;
	margin: 3px auto 15px auto !important;
}
#insidediv
{
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
	text-align: center;
}
#menu-main
{
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
}

/* Desktop Layout: 769px to a max of 1232px.  Inherits styles from: Mobile Layout and Tablet Layout. */

@media only screen and (min-width: 769px) {
.gridContainer { margin: auto; }
#maincontainer
{
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#insidecont
{
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#formcontent
{
	clear: both;
	float: left;
	margin: 1%;
	display: block;
	background-color: #FFF;
	padding: 20px;
	width: 95%;
}
#recomm
{
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
	background-color: #bccbc6;
	padding: 10px;
	text-align: center;
	margin-bottom: 7px;
	font-size: 20px;
}
#calrecomm
{
	clear: both;
	font-size: 20px;
	width: 20%;
	display: block;
	background-color: #bccbc6;
	padding: 10px;
	text-align: center;
	margin-top: 5px;
	margin: 0 auto !important;
}
#insidediv
{
	clear: both;
	float: none;
	margin: auto;
	width: 80%;
	display: block;
	text-align: center;
}
#menu-main
{
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
}
#contentsection
{
	background-image: url('../images/home.png');
	background-repeat: no-repeat;
	/*	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;	height: 800px;*/
	width: 500px;
	margin: auto;
}
.btmsection
{
	background-color: #e3ece9;
	height: 30px;
}
.enterbtn
{
	padding-top: 659px;
	padding-left: 160px;
}
#header.ui-header
{
	clear: both;
	float: left;
	margin-left: 0;
	width: 99%;
	font-weight: bold;
	display: block;
	height: 60px;
	color: #FFF;
	font-size: 25px;
	padding-left: 1%;
	word-spacing: 1px;
	border: 1px solid #a5abad;
	background: #278ebc;
	text-shadow: 0 0 0;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#278ebc), to(#278ebc));
	background-image: -webkit-linear-gradient(#278ebc, #278ebc);
	background-image: -moz-linear-gradient(#278ebc, #278ebc);
	background-image: -ms-linear-gradient(#278ebc, #278ebc);
	background-image: -o-linear-gradient(#278ebc, #278ebc);
	background-image: linear-gradient(#278ebc, #278ebc);
}
#header p
{
	padding-left: 20px;
	text-align: center;
	margin-top: 15px;
}
.submit-btn
{
	background-color: #278fbc !important;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#278fbc), to(#278fbc)) !important;
	background-image: -webkit-linear-gradient(#278fbc, #278fbc) !important;
	background-image: -moz-linear-gradient(#278fbc, #278fbc) !important;
	background-image: -ms-linear-gradient(#278fbc, #278fbc) !important;
	background-image: -o-linear-gradient(#278fbc, #278fbc) !important;
	background-image: linear-gradient(#278fbc, #278fbc) !important;
	color: #FFF !important;
	width: 80px;
	height: 30px;
	border: none;
	margin-left: 50%;
	cursor: pointer;
	float: left;
}
.clear-btn
{
	background-color: #278fbc !important;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#278fbc), to(#278fbc)) !important;
	background-image: -webkit-linear-gradient(#278fbc, #278fbc) !important;
	background-image: -moz-linear-gradient(#278fbc, #278fbc) !important;
	background-image: -ms-linear-gradient(#278fbc, #278fbc) !important;
	background-image: -o-linear-gradient(#278fbc, #278fbc) !important;
	background-image: linear-gradient(#278fbc, #278fbc) !important;
	color: #FFF !important;
	width: 80px;
	height: 30px;
	border: none;
	margin-left: 20px;
	cursor: pointer;
}
.recall, .savenxt
{
	background-color: #278fbc !important;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#278fbc), to(#278fbc)) !important;
	background-image: -webkit-linear-gradient(#278fbc, #278fbc) !important;
	background-image: -moz-linear-gradient(#278fbc, #278fbc) !important;
	background-image: -ms-linear-gradient(#278fbc, #278fbc) !important;
	background-image: -o-linear-gradient(#278fbc, #278fbc) !important;
	background-image: linear-gradient(#278fbc, #278fbc) !important;
	color: #FFF !important;
	width: 150px;
	height: 40px;
	border: none;
	margin-left: 20px;
	cursor: pointer;
	font-size: 18px;
}
#aboutform
{
	width: 50%;
	margin: auto;
}
.ui-body-c, .ui-overlay-c
{
	border: 1px solid #aaa;
	color: #333;
	text-shadow: 0 1px 0 #fff;
	background: #e3ece9 !important;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#e3ece9), to(#e3ece9)) !important;
	background-image: -webkit-linear-gradient(#e3ece9, #e3ece9) !important;
	background-image: -moz-linear-gradient(#e3ece9, #e3ece9) !important;
	background-image: -ms-linear-gradient(#e3ece9, #e3ece9) !important;
	background-image: -o-linear-gradient(#e3ece9, #e3ece9) !important;
	background-image: linear-gradient(#e3ece9, #e3ece9) !important;
}
.ui-body-c, .ui-overlay-c { text-shadow: none !important; }
.ui-checkbox-on .ui-icon, .ui-radio-on .ui-icon { background-color: #278ebc !important; }
.ui-btn-active
{
	border: none !important;
	background: #278ebc !important;
	font-weight: 700;
	color: #333;
	cursor: pointer;
	text-shadow: none !important;
	text-decoration: none;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#278ebc), to(#278ebc)) !important;
	background-image: -webkit-linear-gradient(#278ebc, #278ebc) !important;
	background-image: -moz-linear-gradient(#278ebc, #278ebc) !important;
	background-image: -ms-linear-gradient(#278ebc, #278ebc) !important;
	background-image: -o-linear-gradient(#278ebc, #278ebc) !important;
	background-image: linear-gradient(#278ebc, #278ebc) !important;
	font-family: Arial, Helvetica, sans-serif;
}
#prev
{
	float: left;
	margin-left: 3%;
}
#next
{
	float: right;
	margin-right: 3%;
}
/* footer */
.navigation
{
	height: 40px;
	margin-bottom: 20px;
}
.navigation.ui-bar-a
{
	border: 1px solid #e3ece9;
	background: #111;
	color: #333;
	font-weight: 700;
	text-shadow: 0 0 0 #000;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#e3ece9), to(#e3ece9));
	background-image: -webkit-linear-gradient(#e3ece9, #e3ece9);
	background-image: -moz-linear-gradient(#e3ece9, #e3ece9);
	background-image: -ms-linear-gradient(#e3ece9, #e3ece9);
	background-image: -o-linear-gradient(#e3ece9, #e3ece9);
	background-image: linear-gradient(#e3ece9, #e3ece9);
}
#insidediv p
{
	padding: 10px;
	font-size: 22px;
}
.btngroup .listitem
{
	border-bottom: 1px solid #278fbc !important;
	border: 1px solid #D5D5D5;
	background: #b6d8e0 !important;
	font-weight: normal !important;
	color: #231f20 !important;
	text-shadow: 0 1px 0 #fff !important;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#b6d8e0), to(#b6d8e0)) !important;
	background-image: -webkit-linear-gradient(#b6d8e0, #b6d8e0) !important;
	background-image: -moz-linear-gradient(#b6d8e0, #b6d8e0) !important;
	background-image: -ms-linear-gradient(#b6d8e0, #b6d8e0) !important;
	background-image: -o-linear-gradient(#b6d8e0, #b6d8e0) !important;
	background-image: linear-gradient(#b6d8e0, #b6d8e0) !important;
	text-shadow: 0 0 0 !important;
}
.btngroup .listitem .ui-link-inherit
{
	font-size: 14px !important;
	padding-left: 34px !important;
}
.btngroup .listitem.ui-last-child { border-bottom: none !important; }
#header .ui-btn-corner-all
{
	-webkit-border-radius: 0em;
	border-radius: 0em;
}
#header.ui-header-fixed>.ui-btn-icon-notext { top: 0px !important; }
#header .ui-icon, #header .ui-icon-searchfield:after
{
	background-color: #e3ece9;
	border-radius: 0px;
	margin: 0px;
}
#header .ui-icon, #header .ui-btn-icon-notext
{
	width: 45px;
	height: 62px;
	margin-top: -1px;
	border: none;
}
#header .ui-icon-bars { background-position: -777px 22px !important; }
#header .ui-btn-up-a { border: none; }
#header.ui-header .ui-btn-right { right: 0px !important; }
.listitem.ui-btn-up-a, .listitem.ui-btn-hover-a
{
	border: 1px solid #f9f9f9 !important;
	background: #f9f9f9;
	font-size: 13px;
	font-weight: normal;
	color: #2f3e46 !important;
	text-shadow: 0 0 0 !important;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#f9f9f9), to(#f9f9f9)) !important;
	background-image: -webkit-linear-gradient(#f9f9f9, #f9f9f9) !important;
	background-image: -moz-linear-gradient(#f9f9f9, #f9f9f9) !important;
	background-image: -ms-linear-gradient(#f9f9f9, #f9f9f9) !important;
	background-image: -o-linear-gradient(#f9f9f9, #f9f9f9) !important;
	background-image: linear-gradient(#f9f9f9, #f9f9f9) !important;
}
.listitem .ui-btn-inner { font-size: 15px; }
.listitem.ui-btn-up-a:visited, .listitem.ui-btn-up-a a.ui-link-inherit { color: #2f3e46; }
.listitem.ui-listview, .listitem.ui-panel-inner>.ui-listview { margin: 0px !important; }
/* maincalculator */

/*.optcontainer .ui-field-contain .ui-select:nth-child(even)
{
width:23%;
}
.optcontainer .ui-field-contain .ui-select:nth-child(odd)
{
width:12%;
}*/
.optcontainer .ui-field-contain label.ui-select
{
width: 35% !important;
margin: 10px 2% 0 20%;
}
.optcontainer .ui-field-contain
{
	border-bottom: 1px solid #278fbc !important;
	border: 1px solid #D5D5D5;
	background: #b6d8e0 !important;
	font-weight: normal !important;
	color: #231f20 !important;
	text-shadow: 0 1px 0 #fff !important;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#b6d8e0), to(#b6d8e0)) !important;
	background-image: -webkit-linear-gradient(#b6d8e0, #b6d8e0) !important;
	background-image: -moz-linear-gradient(#b6d8e0, #b6d8e0) !important;
	background-image: -ms-linear-gradient(#b6d8e0, #b6d8e0) !important;
	background-image: -o-linear-gradient(#b6d8e0, #b6d8e0) !important;
	background-image: linear-gradient(#b6d8e0, #b6d8e0) !important;
	text-shadow: 0 0 0 !important;
	margin: 1px;
}
.optcontainer .ui-btn-up-c, .optcontainer .ui-btn-hover-c
{
	border: 1px solid #ccc;
	background: #e3ece9;
	font-weight: 700;
	color: #222;
	text-shadow: 0 0 0;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#e3ece9), to(#e3ece9));
	background-image: -webkit-linear-gradient(#e3ece9, #e3ece9);
	background-image: -moz-linear-gradient(#e3ece9, #e3ece9);
	background-image: -ms-linear-gradient(#e3ece9, #e3ece9);
	background-image: -o-linear-gradient(#e3ece9, #e3ece9);
	background-image: linear-gradient(#e3ece9, #e3ece9);
	border-radius: 0px;
}
.optcontainer .ui-icon, .optcontainer .ui-icon-searchfield:after
{
	background-image: url('../images/dwnarrow.png');
	background-position: 0px 0px;
	border-radius: 0px;
	width: 30px;
	height: 30px;
	top: 0% !important;
	margin-top: 0px !important;
	right: 0px !important;
}
.optcontainer .ui-btn-inner { padding:5px 20px !important;font-size: 15px;height: 18px !important; }
.head1
{
	width: 50%;
	float: left;
	padding: 10px;
	text-align: center;
}
.head2
{
	width: 40%;
	float: left;
	text-align: center;
	padding: 10px;
}
#headcontainer
{
	background-color: #65bed3;
	color: #FFFFFF;
	width: 100%;
	height: 40px;
	font-size: 17px;
	font-weight: bold;
}
.ui-panel .ui-btn-up-c, .ui-panel .ui-btn-hover-c
{
	border: 1px solid #ccc;
	background: #e3ece9 !important;
	font-weight: 700;
	color: #222;
	text-shadow: 0 1px 0 #fff;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#e3ece9), to(#e3ece9)) !important;
	background-image: -webkit-linear-gradient(#e3ece9, #e3ece9) !important;
	background-image: -moz-linear-gradient(#e3ece9, #e3ece9) !important;
	background-image: -ms-linear-gradient(#e3ece9, #e3ece9) !important;
	background-image: -o-linear-gradient(#e3ece9, #e3ece9) !important;
	background-image: linear-gradient(#e3ece9, #e3ece9) !important;
}
/* fractional dropdown */


.ui-icon-checkbox-off, .ui-icon-radio-off { background-color: #bccbc6 !important; }
.ui-radio .ui-icon, .ui-radio .ui-icon-searchfield:after
{
	background-color: #278ebc;
	background-image: none !important;
	background-repeat: no-repeat;
	-webkit-border-radius: 9px;
	border-radius: 9px;
}
/*result */

.resulthead
{
	background-image: url('../images/result.png');
	background-repeat: no-repeat;
	min-height: 100%;
	background-position: center center;
	height: 615px;
	margin: auto;
	width: 500px;
}
.bgstripresult { background-image: url('../images/bgstripresult.png'); }
#resultval
{
	text-align: center;
	color: #000000;
	font-size: 30px;
	font-weight: bold;
	padding-top: 504px;
}
#resultbtm
{
	background-color: #e3ece8;
	min-height: 100%;
	height: 270px;
	width: 100%;
	margin: auto;
	text-align: center;
}
#resultbtm p { font-size: 24px; }
.bgstriphome { background-image: url('../images/bgstriphome.png'); }
.recall
{
	font-size: 20px;
	height: 80px;
}
#aboutform
{
	width: 50%;
	margin: auto;
}


.ui-select .ui-btn select {
min-height: 100% !important;
height:auto !important; 
}